@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Knewave&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";


body {
    background-color: #DED3CA;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}

h2, a {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}


